{% extends "base.html" %}
{% from "_paginationhelpers.html" import render_pagination %}

{% block content %}


<table>
  <tr>
    <td><img src="{{ user.get_avatar(size=130) }}"></td>
    <td>
    <h1> {{ user.username }} </h1>

    <p> {{_('followers')}}: {{ user.count_followers() }} </p>
    <p> {{_('follows')}}: {{ user.count_following() }}</p>
    
    <p>{{_('Bio')}}: {{ user.bio if user.bio else "" }}</p>
    <p>{{_('Last seen')}}: {{ moment(user.last_seen).format('ddd, Do MMMM YYYY, k:mm:ss') if user.last_seen else "" }}</p>
    
    {% if current_user.id == user.id %}
        <p><a href="{{ url_for('user_bp.edit_profile') }}">Edit profile</a></p>
        <p><a href="{{ url_for('user_bp.messages') }}">Incoming messages</a></p>
    {% else %}
      
      {% if current_user.is_following(user) %}
        <form action="{{url_for('user_bp.unfollow', username=user.username)}}" method="post" novalidate>
          {{ form.hidden_tag() }}
          {{ form.submit(value=_('Unfollow')) }}
        </form>
      {% else %}
        <form action="{{url_for('user_bp.follow', username=user.username)}}" method="post" novalidate>
          {{ form.hidden_tag() }}
          {{ form.submit(value=_('Follow')) }}
        </form>
      {% endif %}
      <p><a href="{{ url_for('user_bp.send_message', username=user.username) }}">Send Message</a></p>
    {% endif %}
    </td>
    <td>
    </td>
  </tr>
</table>
<hr>
{% for goal in goals %}
    {% include 'main/_goal.html' %} <br>
{% endfor %}

{{ render_pagination(pagination=goals, prev_url=prev_url, next_url=next_url) }}
 


{% endblock %}

