{% extends "base.html" %}

{% block content %}


<table>
  <tr>
    <td><img src="{{ user.get_avatar(size=130) }}"></td>
    <td>
    <h1> {{ user.username }} </h1>
    <p>Bio: {{ user.bio if user.bio else "" }}</p>
    <p>Last seen: {{ user.last_seen if user.last_seen else "" }}</p>

    <p> {{ user.username }}'s followers: {{ user.count_followers() }} </p>
    <p> {{ user.username }} follows: {{ user.count_following() }}</p>
    
    {% if current_user.id == user.id %}
        <p><a href="{{ url_for('user_bp.edit_profile') }}">Edit profile</a></p>
    {% else %}
      
      {% if current_user.is_following(user) %}
        <form action="{{url_for('user_bp.unfollow', username=user.username)}}" method="post" novalidate>
          {{ form.hidden_tag() }}
          {{ form.submit(value='Unfollow') }}
        </form>
      {% else %}
        <form action="{{url_for('user_bp.follow', username=user.username)}}" method="post" novalidate>
          {{ form.hidden_tag() }}
          {{ form.submit(value='Follow') }}
        </form>
      {% endif %}
      
    {% endif %}
    </td>
    <td>
    </td>
  </tr>
</table>
<hr>
{% for goal in goals %}
    {% include 'main/_goal.html' %} <br>
{% endfor %}
 


{% endblock %}

