{% extends "base.html" %}
{# {% from "_formhelpers.html" import render_field %} #}

{% block content %}

<h1>Login</h1>

<form action="" method=post novalidate>

    <p>{{ form.hidden_tag() }}
    {{ form.username.label }} <br>
    {{ form.username(size=30) }} <br>
    {% for error in form.username.errors %}
      <span style="color: red">{{ error }}</span>
    {% endfor %} </p>

    <p>{{ form.password.label }} <br>
    {{ form.password(size=30) }} <br>
    {% for error in form.password.errors %}
      <span style="color: red">{{ error }}</span>
    {% endfor %} </p> 

    <p>
    {{ form.remember_me }} {{ form.remember_me.label }}
    </p>
    
    {{ form.submit }} 

    <p>
    <a href="{{ url_for('auth_bp.register') }}">Register me!</a>
    </p>

</form>




{% endblock %}



    {# {{ form.hidden_tag() }}
    {% for field in form %}
        {% if field.widget.input_type != 'hidden' %}        
            {{ field.label }}<br>
            {{ field }}<br>
        {% endif %}
    {% endfor %} #}