<!DOCTYPE html>
<html>
    <head>
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Goalblog</title>
        {% endif %}
    </head>
    <body>
    <nav>
        <div>
            <ul>
                <li>
                    <a href="{{ url_for('index') }}">Home</a>
                </li>
                {% if current_user.is_authenticated %}
                <li>
                    <a href="{{ url_for('user', username=current_user.username)}}">Profile</a>
                </li>
                <li>
                    <a href="{{ url_for('logout') }}">Logout</a>
                </li>
                {% else %}
                <li>
                    <a href="{{ url_for('login') }}">Login</a>
                </li>
                {% endif %}
                <li>
                    <a href="{{ url_for('explore') }}">Explore</a>
                </li>
            </ul>
        </div>
    </nav>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}

    {% block content %} {% endblock %}

    <script>
        
    </script>
            
    </body>
</html>

{# 
async function followFunction(element, user_id) {
            var csrf_token = "{{ csrf_token() }}";
            var follow_URI = "{{ url_for('follow') }}"
            try{
                const response = await fetch('/user/follow', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRF-TOKEN': csrf_token
                    },
                    body: JSON.stringify({
                        user_id: user_id,
                        action: element.value
                    })
                });

                if (!response.ok) {
                    const message = `An error has occured: ${response.status}`;
                    throw new Error(message);
                }
                var data = await response.json();

                element.value = data['new_follow_status']

            } catch (error){
                console.log('There was an error', error);
            }
        }
 #}