{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}

<h1>Login</h1>

<form action="" method=post novalidate>

    <p>{{ form.hidden_tag() }}
    {{ form.username.label }} <br>
    {{ form.username }} <br>
    {% for error in form.username.errors %}
      <span style="color: red">{{ error }}</span>
    {% endfor %} </p>

    <p>{{ form.password.label }} <br>
    {{ form.password }} <br>
    {% for error in form.password.errors %}
      <span style="color: red">{{ error }}</span>
    {% endfor %} </p> 
    
    {{ form.submit }} 

</form>




{% endblock %}



    {# {{ form.hidden_tag() }}
    {% for field in form %}
        {% if field.widget.input_type != 'hidden' %}        
            {{ field.label }}<br>
            {{ field }}<br>
        {% endif %}
    {% endfor %} #}